{% extends 'base.html' %}

{% block content %}
    <section class="main">
        <div class="container">
            <h2>¡Bienvenido a StudyBuddy!</h2>
            <p>Tu compañero de estudio en línea</p>
            <button>Regístrate</button>
        </div>
    </section>

    <section class="features">
        <div class="container">
            <h2>Características Principales</h2>
            <div class="feature">
                <h3>Planificación de Estudios</h3>
                <p>Organiza tus tareas y horarios de estudio de manera efectiva.</p>
            </div>
            <div class="feature">
                <h3>Recursos de Aprendizaje</h3>
                <p>Accede a una amplia variedad de recursos educativos en línea.</p>
            </div>
            <div class="feature">
                <h3>Seguimiento de Progreso</h3>
                <p>Realiza un seguimiento de tu progreso y mejora tus resultados académicos.</p>
            </div>
        </div>
    </section>
{% endblock %}